@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
    --font-sans: 'Public Sans', sans-serif;

    --color-green-50: #EFFDF5;
    --color-green-100: #D9FBE8;
    --color-green-200: #B3F5D1;
    --color-green-300: #75EDAE;
    --color-green-400: #00DC82;
    --color-green-500: #00C16A;
    --color-green-600: #00A155;
    --color-green-700: #007F45;
    --color-green-800: #016538;
    --color-green-900: #0A5331;
    --color-green-950: #052E16;

    --vp-green: #7FD857;
    --vp-green-hover: #6bc745;
    --vp-green-light: #9fe57f;
    --vp-dark: #0F1729;
    --vp-dark-hover: #1a2740;
    --vp-dark-light: #2d3f5f;
    --vp-gray: #F5F7FA;
    --vp-gray-dark: #e1e5ea;
}

:root {
     --ui-container: 110rem;
    color-scheme: light;

}
/* Espacement pour le header fixe */
.page-content {
    padding-top: 6rem; /* Hauteur du header (ajuster selon votre header) */
}

/* Pour les pages avec hero plein écran */
.page-hero {
    padding-top: 0;
}

/* Ajustement responsive */
@media (max-width: 768px) {
    .page-content {
        padding-top: 6rem;
    }
}